.red {
    color: red;
}
.cyan {
    color: cyan;
}
.magenta {
    color: magenta;
}
.gold {
    color: gold;
}
.blue {
    color: blue;
}
.lime {
    color: lime;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.yellow {
    color: yellow;
}
.pink {
    color: pink;
}
.white {
    color: white;
}
.underline {
    text-decoration: underline;
}
.rainbow {
	background-image: -webkit-linear-gradient(left, red, blue 25%, red 50%, blue 75%, red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation:  maskedAnimation 2s infinite linear;
}
.rainbow1 {
	background-image: -webkit-linear-gradient(left, #147B96, #E6D205 25%, #147B96 50%, #E6D205 75%, #147B96);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation:  maskedAnimation 2s infinite linear;
}
 
@keyframes maskedAnimation {
	0% { background-position: 0 0; }
	100% { background-position: -100% 0; }
}

.bg-none * {
    background-color: transparent !important;
}

.soft-table {
    display: table;
    width: 100%;
}
.soft-table tr {
    background-color: #E2FFCA;
    th {
        font-weight: unset;
    }
    th:empty, td:empty {
        display: none;
    }
}

.sidebar-heading:has(> span.arrow.down) {
    color: #6400FE;
    font-weight: bold;
}
